@media (max-width: 1200px)
    .container
        max-width: 960px
    .catalog
        &-slider
            &__slide
                max-width: 460px
                width: 100%
            
@media (max-width: 992px)
    .container
        max-width: 700px
    .book
        margin-top: 36px
        &-wrap
            display: flex
            flex-direction: column
            align-items: center
        &__info
            display: flex
            flex-direction: column
            align-items: center
        &-title
            text-align: center
        &-image
            margin-top: 36px
    .button
        &-wrapper
            display: flex
            justify-content: center
    
@media (max-width: 767px)
    .container
        max-width: 576px
        width: 92%
    .navbar
        padding-top: 20px
        &-wrap
            align-items: flex-start
            align-items: center
        &__button
            width: 22px
            height: 18px
            padding: 0
            display: flex
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: $light
        &_fixed
            position: fixed
            left: 0
            top: 0
            right: 0
            z-index: 99
    .info
        &-menu, &__button
            display: none
        &-menu
            &_mobile
                background-color: $light
                position: fixed
                left: 0
                right: 0
                bottom: 0
                top: 59px
                &-visible
                    display: flex
                    flex-direction: column
                    justify-content: flex-start
                    align-items: center
                    margin-top: 15px
                    margin-bottom: 0
            &__button
                &_mobile
                    &-visible
                        display: block
                        margin-left: 0
            &__item
                &_mobile
                    &-visible
                        margin-bottom: 15px
        &__button
            &_mobile
                &-visible
                    display: block
    .button
        &__line
            width: 22px
            height: 2px
            background-color: $four
    // .book
    //     &-image
    //         &__img
    //             z-index: -10
    // .the-best
    //     &__link
    //         z-index: -10
    // .catalog
    //     &-wrap
    //         &::after
    //             z-index: -10
    //     &-wrapper
    //         z-index: -10
    // .unpublished
    //     position: relative
    //     z-index: -11
    //     &__slider
    //         z-index: -10
@media (max-width: 576px)
    .container
        max-width: 480px
        width: 92%
@media (max-width: 480px)
    .container, .navbar__container
        max-width: 280px
        width: 100%
    .catalog__container
        max-width: 296px
    .history__container
        max-width: 300px
    .book
        margin-top: 55px
        margin-bottom: 28px
        &-title
            font-size: 32px
            line-height: 40px
            margin-bottom: 25px
        &-image
            width: 280px
            height: 332px
            &__wrapper
                width: 143px
                height: 214px
        &__subtitle
            font-weight: normal
            font-size: 16px
        &__text
            font-size: 16px
            line-height: 23px
            text-align: center
            margin-top: 32px
            margin-bottom: 17px
        &__button
            // font-size: 16px
            // line-height: 22px
            width: 176px
            &_left
                padding: 9px 20px
            &_right
                margin-top: 15px
                margin-left: 0
                padding: 7px 27px
                font-size: 16px
                line-height: 22px
    .button
        &-wrapper
            display: flex
            flex-direction: column
            justify-content: space-between
    .board
        margin-top: 57px
        margin-bottom: 84px
        &-wrap
            flex-direction: column
    .advice
        &__button
            font-family: Open Sans
            font-style: normal
            font-weight: bold
            font-size: 16px
            line-height: 22px
            text-align: center
        &__title
            font-family: Roboto Condensed
            font-style: normal
            font-weight: bold
            font-size: 28px
            line-height: 36px
            text-align: center
            letter-spacing: 0.2px
        &-card
            flex-direction: column
            align-items: center
            justify-content: flex-start
            margin-top: 72px
            min-height: 312px
            min-width: 280px
            &:not(:nth-child(1))
                display: none
            &-wrapper
                height: 137px
                min-width: 95px
                width: 95px
                margin-top: -36px
                margin-right: 9px
            &-info
                align-items: center
                padding-right: 14px
                padding-left: 6px
                margin-top: 3px
                &__title
                    font-family: Roboto
                    font-style: normal
                    font-weight: 500
                    font-size: 20px
                    line-height: 24px
                    text-align: center
                    letter-spacing: 0.2px
                &__subtitle
                    font-family: Open Sans
                    font-style: normal
                    font-weight: normal
                    font-size: 14px
                    line-height: 20px
                    text-align: center
                    margin-top: 12px
                &__price
                    font-family: Roboto Condensed
                    font-style: normal
                    font-weight: bold
                    font-size: 16px
                    line-height: 20px
                    letter-spacing: 0.2px
                    margin-top: 16px
                    margin-left: -9px
        &__data
            margin-top: 20px
        &__button
            margin-left: 14px
            padding: 7px 27px
        &-like
            margin-left: 20px
        &__more-books
            margin-top: 24px
            padding-top: 16px
            padding-bottom: 12px
        &__link
            font-family: Roboto Condensed
            font-style: normal
            font-weight: bold
            font-size: 16px
            line-height: 20px
            text-align: center
            letter-spacing: 0.2px
            text-transform: none
            margin-top: -2px
    .the-best
        &__link::after
            width: 242px
            top: -21px
            left: -66px
        &__best-books
            margin-top: 58px
        &__title
            margin-top: 57px
        &__button
            font-family: Open Sans
            font-style: normal
            font-weight: bold
            font-size: 16px
            line-height: 22px
            text-align: center
        &__title
            font-family: Roboto Condensed
            font-style: normal
            font-weight: bold
            font-size: 28px
            line-height: 36px
            text-align: center
            letter-spacing: 0.2px
        &-card
            padding: 33px 0 3px 10px
            &-wrapper
                min-width: 95px
                width: 95px
                max-height: 142px
            &-info
                padding: 5px 22px 4px 16px
                &__title
                    font-family: Roboto Condensed
                    font-style: normal
                    font-weight: bold
                    font-size: 16px
                    line-height: 24px
                    letter-spacing: 0.2px
                &__price
                    font-family: Roboto Condensed
                    font-style: normal
                    font-weight: bold
                    font-size: 20px
                    line-height: 24px
                    letter-spacing: 0.2px
                    margin-top: -1px
    // .catalog
    //     &__title
    //         font-family: Roboto Condensed
    //         font-style: normal
    //         font-weight: bold
    //         font-size: 16px
    //         line-height: 20px
    //         text-align: center
    //         letter-spacing: 0.2px
    //     &__subtitle
    //         font-family: Open Sans
    //         font-style: normal
    //         font-weight: normal
    //         font-size: 12px
    //         line-height: 20px
    //         text-align: center
    //     &-wrapper
    //         display: flex
    //         justify-content: center
    //     &-slider
    //         display: flex
    //         &__img
    //             width: 36px
    //             height: 36px
    //         &__slide
    //             max-width: 140px
    //             width: 140px
    //             padding: 19px
    //             margin-top: 27px
    //             display: flex
    //             &:nth-child(2)
    //                 order: 1
    // .slick-list 
    //     margin: 0 -10px
    // .slick-slide>div 
    //     padding: 0 10px
    .catalog
        margin-bottom: 105px
        &__slider
            &_mobile
                &-visible
                    display: block
                &-hidden
                    display: none
        &-wrapper
            margin-top: -34px
        &-slider
            &__img
                width: 32px
                height: 32px
            &__slide
                min-width: 141px
                margin-top: 41px
                justify-content: flex-start
                padding-left: 14px
                padding-right: 14px
                max-height: 182px
                &_mt
                    margin-top: 10px
        &__title
            font-family: Roboto Condensed
            font-style: normal
            font-weight: bold
            font-size: 16px
            line-height: 20px
            text-align: center
            letter-spacing: 0.2px
            // max-width: 100px
            margin-top: 18px
            
        &__subtitle
            font-family: Open Sans
            font-style: normal
            font-weight: normal
            font-size: 12px
            line-height: 20px
            text-align: center
            margin-top: -2px
            &_two
                margin-top: 18px
    .owl-stage
        display: flex
    .catalog-slider__slide:nth-child(2)
        order: -1
    .catalog-slider__img
        margin-top: 14px
    .owl-next
        right: 119px
        &::after
            width: 48px
            height: 48px
    .owl-nav
        top: 99%
    .unpublished
        padding-bottom: 118px
        &-top
            position: relative
            justify-content: center
            &__buttons
                min-width: 114px
                width: 114px

            &__title
                font-family: Roboto Condensed
                font-style: normal
                font-weight: bold
                font-size: 28px
                line-height: 36px
                text-align: center
                letter-spacing: 0.2px
                margin-top: -13px
                margin-bottom: -12px
            &__buttons
                position: absolute
                top: 404px
                left: 30%
        .swiper-wrapper
            // max-width: 205px
            
            
        &-slider 
            max-width: 205px
        &__button
            width: 48px
            height: 48px

            &__img
                min-width: 205px
                min-height: 300px
    .history
        margin-top: 44px
        margin-bottom: 71px
        &-top
            flex-direction: column
            align-items: center
            margin-right: 0
            max-width: 280px
            margin: auto
            margin-bottom: 36px
            
            &__title
                font-family: Roboto Condensed
                font-style: normal
                font-weight: bold
                font-size: 28px
                line-height: 36px
                text-align: center
                letter-spacing: 0.2px
            &__subtitle
                font-family: Open Sans
                font-style: normal
                font-weight: normal
                font-size: 18px
                line-height: 25px
                text-align: center
                margin-top: 23px
        &-medium
            &::after
                left: 122px
                top: -132px
                width: 56px
                height: 56px
            &__video
                max-width: 300px
                height: 210px
                background-position: center center
                background-size: 303px
                background-image: url(../img/history-1b.png)
                // background-repeat: none

                
            &__icon
                left: 142px
                width: 17px
                height: 22px
                top: 51%
        &-bottom
            margin-top: 34px
            &__info
                flex-direction: column
                margin-top: 16px
            &__sect:nth-child(3)
                display: none
            &__icon
                left: 60px
                width: 21px
                height: 27px
                &-plus
                    position: absolute
                    margin-top: 62px
                    width: 10px
                    height: 14px  
            &__video
                max-width: 140px
                height: 138px
                &-3
                    max-width: 140px
                    width: 140px
                    height: 138px
                    background-position: center center
                    background-size: 227px
                    background-image: url(../img/history-3b.png)

            &__title
                font-family: Roboto
                font-style: normal
                font-weight: 500
                font-size: 16px
                line-height: 20px
                text-align: center
                letter-spacing: 0.2px
            &__subtitle
                font-family: Open Sans
                font-style: normal
                font-weight: normal
                font-size: 12px
                line-height: 20px
                text-align: center
    .cooperation
        padding-top: 34px
        padding-bottom: 45px
        &__title
            max-width: 270px
            margin-left: 3px
        &__wrapper
            display: flex
            justify-content: space-between
            max-width: 215px
            margin: auto
        &__company
            margin-top: 26px  
        &-icon, &_9
            width: 98px
            height: 28px
            fill: $light
            margin-left: 28px
            margin-right: 2px
            margin-left: 0
            margin-right: 0
            position: relative
            left: -3px
            &_2, &_7
                width: 86px
                height: 22px
                margin-left: 0
                margin-right: 0
                left: 0px
            &_3, &_11
                width: 86px
                height: 22px
                margin-left: 0
                margin-right: 0
                position: relative
                top: -5px
                left: 3px
            &_4, &_12
                width: 86px
                height: 28px
                margin-left: 0
                margin-right: 0
                position: relative
                top: -5px
            &_5, &_8
                width: 86px
                height: 26px
                margin-left: 0
                margin-right: 0
                position: relative
                top: -9px
                left: 2px
            &_6, &_10
                width: 86px
                height: 18px
                margin-left: 42px
                margin-top: -10px
                margin-right: 0
                position: relative
                top: -8px
                left: 1px
            &_7
                display: none
            &_8
                display: none
            &_9
                display: none
            &_10
                display: none
            &_11
                display: none
            &_12
                display: none
    .blog
        padding-top: 56px
        &__button
            font-family: Roboto Condensed
            font-style: normal
            font-weight: bold
            font-size: 14px
            line-height: 20px
            text-align: center
            letter-spacing: 0.175px
            position: absolute
            top: 725px
            left: 61px
            padding-left: 48px
            padding-right: 48px
        &-top
            flex-direction: column
            align-items: center
            position: relative
            &__title
                font-family: Roboto Condensed
                font-style: normal
                font-weight: bold
                font-size: 28px
                line-height: 36px
                
                letter-spacing: 0.2px
        &-middle
            flex-direction: column
            &__info
                min-height: 101px
                padding-left: 19px
                padding-top: 1px
                padding-bottom: 10px
            &__order-state
                min-height: 335px
                margin-top: 29px    
            &__wrap
                margin-top: 9px
            &__first-state
                flex-direction: column
                align-items: center
            &__title
                font-family: Roboto Condensed
                font-style: normal
                font-weight: bold
                font-size: 16px
                line-height: 20px
                letter-spacing: 0.2px
                margin-left: 0
                margin-top: 20px
            &__text
                font-family: Open Sans
                font-style: normal
                font-weight: normal
                font-size: 12px
                line-height: 24px
                margin-left: 0
                margin-top: 11px
                max-width: 280px
                width: 280px
            &__read
                font-family: Roboto Condensed
                font-style: normal
                font-weight: bold
                font-size: 10px
                line-height: 20px
                letter-spacing: 0.125px
                margin-top: -6px
            &__order-title
                font-family: Roboto
                font-style: normal
                font-weight: 500
                font-size: 14px
                line-height: 20px
                letter-spacing: 0.175px
                margin-top: -6px
            &__date
                font-family: Open Sans
                font-style: normal
                font-weight: normal
                font-size: 10px
                line-height: 20px
                margin-top: -4px
            &__wrap
                width: 280px
                height: 120px
            &__state
                margin-bottom: 20px
            &__wrapper
                min-width: 90px
                width: 90px
                height: 90px
    .subscription
        background-color: $second
        padding-bottom: 28px
        &__title
            font-family: Roboto Condensed
            font-style: normal
            font-weight: bold
            font-size: 28px
            line-height: 36px
            letter-spacing: 0.2px
        &-wrap
            flex-direction: column
            background-color: $second
            padding-left: 4px
            padding-top: 25px
            padding-bottom: 56px
        &__subscribe
            margin-top: 31px
    .subscribe

        &__input
            width: 272px
            padding-top: 28px
            padding-bottom: 82px
            padding-left: 47px
            padding-right: 47px
            &-group
                margin-left: 116px
        &__button
            top: 55px
            right: 70px
            padding: 20px 70px
        &__icon
            left: 137px
            top: 20px
    .invalid
        