@media (max-width: 1200px)
    .container
        max-width: 960px
@media (max-width: 992px)
    .container
        max-width: 700px
    .book
        margin-top: 36px
        &-wrap
            display: flex
            flex-direction: column
            align-items: center
        &__info
            display: flex
            flex-direction: column
            align-items: center
        &-title
            text-align: center
        &-image
            margin-top: 36px
    .button
        &-wrapper
            display: flex
            justify-content: center
@media (max-width: 767px)
    .container
        max-width: 576px
        width: 92%
    .navbar
        padding-top: 20px
        &-wrap
            align-items: flex-start
            align-items: center
        &__button
            width: 22px
            height: 18px
            padding: 0
            display: flex
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: $light
        &_fixed
            position: fixed
            left: 0
            top: 0
            right: 0
            z-index: 99px
    .info
        &-menu, &__button
            display: none
        &-menu
            &_mobile
                background-color: $light
                position: fixed
                left: 0
                right: 0
                bottom: 0
                top: 59px
                &-visible
                    display: flex
                    flex-direction: column
                    justify-content: flex-start
                    align-items: center
                    margin-top: 15px
                    margin-bottom: 0
            &__button
                &_mobile
                    &-visible
                        display: block
                        margin-left: 0
            &__item
                &_mobile
                    &-visible
                        margin-bottom: 15px
        &__button
            &_mobile
                &-visible
                    display: block
    .button
        &__line
            width: 22px
            height: 2px
            background-color: $four
@media (max-width: 576px)
    .container
        max-width: 480px
        width: 92%
@media (max-width: 480px)
    .container, .navbar__container
        max-width: 280px
        width: 100%
    .book
        margin-top: 55px
        margin-bottom: 28px
        &-title
            font-size: 32px
            line-height: 40px
            margin-bottom: 25px
        &-image
            width: 280px
            height: 332px
            &__wrapper
                width: 143px
                height: 214px
        &__subtitle
            font-weight: normal
            font-size: 16px
        &__text
            font-size: 16px
            line-height: 23px
            text-align: center
            margin-top: 32px
            margin-bottom: 17px
        &__button
            // font-size: 16px
            // line-height: 22px
            width: 176px
            &_left
                padding: 9px 20px
            &_right
                margin-top: 15px
                margin-left: 0
                padding: 7px 27px
                font-size: 16px
                line-height: 22px
    .button
        &-wrapper
            display: flex
            flex-direction: column
            justify-content: space-between