*
    box-sizing: border-box
html
    overflow-x: hidden
body
    font-family: 'Open Sans', sans-serif
    background-color: $light
    overflow-x: hidden
.container
    max-width: 1140px
    margin: auto
img
    max-width: 100%
ul
    padding-left: 0px
.button
    color: $second
    font-family: 'Open Sans', sans-serif
    font-style: normal
    font-weight: bold
    text-align: center
    border: 2px solid $second
    border-radius: 8px
    cursor: pointer
    text-decoration: none
.invalid
    color: #FAAD13
    border-bottom: 1px solid #FAAD13
    // margin-top: -28px 
h2
    margin: 0

.lock
    overflow: hidden
    position: fixed
    width: 100%
    height: 100vh