*
    box-sizing: border-box
html
    overflow-x: hidden
body
    font-family: 'Open Sans', sans-serif
    background-color: $light
    overflow-x: hidden
    overflow-y: hidden

.container
    max-width: 1140px
    margin: auto
img
    max-width: 100%
ul
    padding-left: 0px
.button
    color: $second
    font-family: 'Open Sans', sans-serif
    font-style: normal
    font-weight: bold
    text-align: center
    border: 2px solid $second
    border-radius: 8px
    cursor: pointer
    text-decoration: none
.invalid
    color: #FAAD13
    border-bottom: 1px solid #FAAD13
    // margin-top: -28px 
h2
    margin: 0

.lock
    overflow: hidden
    position: fixed
    width: 100%
    height: 100vh

[name=name]::-moz-placeholder, [name=phone]::-moz-placeholder,[type=email]::-moz-placeholder, textarea::-moz-placeholder
    padding-top: 14px

// .circle__left
//     position: relative
//     &::after
//         content: ""
//         position: absolute
//         top: -927px
//         left: -176px
//         display: block
//         width: 1186px
//         height: 1186px
//         border-radius: 593px
//         // background-color: green
//         background: linear-gradient(270deg, rgba(255, 0, 0, 0.2) 0%, #FFFFFF 99.73%)
//         z-index: 14
//     &::before
//         position: absolute
//         content: ""
//         top: -730px
//         left: 22px
//         display: block
//         width: 786px
//         height: 786px
//         border-radius: 593px
//         background-color: transparent
//         // background-color: $second
//         z-index: 15