.subscription
    margin-top: 50px
    
    &__title
        font-family: Roboto Condensed
        font-style: normal
        font-weight: bold
        font-size: 36px
        line-height: 48px
        letter-spacing: 0.2px
        color: $light
        max-width: 393px
        margin: 0 
    &-wrap
        background-color: $second
        border-radius: 12px
        padding-top: 60px
        padding-bottom: 80px
        padding-left: 62px
        padding-right: 63px
        display: flex
        justify-content: space-between
        align-items: center
    &__subscribe
        margin-top: 21px
.subscribe
    min-width: 447px
    height: 56px
    position: relative
    &__icon
        width: 16px
        height: 18px
        position: absolute
        top: 18px
        left: 19px
    &__input
        display: block
        width: 447px
        height: 54px
        border: 1px solid #C3CAD9
        border-radius: 8px
        padding-left: 47px
        padding-right: 193px
        &[type=email]::placeholder
            font-family: Open Sans
            font-style: normal
            font-weight: 600
            font-size: 16px
            line-height: 22px
            color: $like
        &-group
            max-width: 285px
    &__button
        // width: 163px
        height: 48px
        display: flex
        align-items: center
        padding: 20px 28px
        background-color: #FAAD13
        position: absolute
        top: 3px
        right: 3px
        border: none
        color: $light
        border-radius: 4px
        font-family: Open Sans
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 22px
        text-align: center